@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btnCenter{
  display: flex; 
  align-items: center;
  justify-content: space-around;
}