.navigationvalue {
  color: var(--Placeholder-Color, #6d7175);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.navigation:hover,
.selected {
  background-color: #f0f2f5;
}

.navigation {
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navdivvalue {
  height: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.navigationContainer {
  width: 32%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  border-radius: 0.4em;
  cursor: pointer;
}

.navigationHeader {
  width: 259px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; 
  padding-bottom: 10px;
}

.navigationTitle {
  width: 364px;
  height: 40px;
}
